################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyToDoApp/v17/.suo
/MyToDo/bin/Debug/net7.0-windows
